<form class="form-inline">
  <div class="form-group">
    {{input class="form-control" value=name id="name" placeholder="Add a category!"}}
  </div>
  <button class="btn btn-info" {{action 'saveCategory'}}>Save</button>
</form>
<br>
