<div class="row">
  <div class="col-md-4 col-md-offset-4">
    {{new-category saveCategory="saveCategory"}}
    <br>
    <br>
  </div>
</div>
<div class="row">
  {{#each model.categories as |category|}}
    {{category-tile category=category}}
  {{/each}}
</div>
